In [1]:
# assignment_url = "https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class3.ipynb"
dataset = "https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv"

In [2]:
import pandas as pd
df = pd.read_csv(dataset, parse_dates=True)

In [3]:
df

                   time      value
0      08-22-2019 12:51  19.195359
1      09-19-2019 09:44  13.519543
2      08-26-2019 14:05   9.191413
3      08-19-2019 16:37  18.346598
4      09-05-2019 09:18   1.349778
...                 ...        ...
13495  09-09-2019 12:50  19.046697
13496  09-09-2019 10:00  17.984843
13497  09-18-2019 14:16  15.827774
13498  09-19-2019 16:16  13.070049
13499  09-06-2019 10:13   0.594764

[13500 rows x 2 columns]

In [4]:
sort_index = df['time'].sort_values().index

In [5]:
df = df.iloc[sort_index]

In [6]:
df

                   time      value
13344  08-19-2019 09:00  17.573522
7145   08-19-2019 09:01  17.575387
5327   08-19-2019 09:02  17.577250
8489   08-19-2019 09:03  17.579113
2847   08-19-2019 09:04  17.580975
...                 ...        ...
10649  09-20-2019 17:55  13.331853
4938   09-20-2019 17:56  13.333217
13143  09-20-2019 17:57  13.334583
1625   09-20-2019 17:58  13.335951
2137   09-20-2019 17:59  13.337320

[13500 rows x 2 columns]

In [7]:
df['date'] = pd.to_datetime(df['time'])

/tmp/ipykernel_67098/785867113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['time'])

In [8]:
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

/tmp/ipykernel_67098/1903410930.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [9]:
df['date']

13344    2019-08-19
7145     2019-08-19
5327     2019-08-19
8489     2019-08-19
2847     2019-08-19
            ...
10649    2019-09-20
4938     2019-09-20
13143    2019-09-20
1625     2019-09-20
2137     2019-09-20
Name: date, Length: 13500, dtype: object

In [10]:
def dater(date):
    row_data = {}
    
    row_data['starting'] = (df[df['date'] == date].iloc[0]['value'])
    row_data['max'] = (df[df['date'] == date].iloc[-1]['value'])
    row_data['min'] = (df[df['date'] == date].value.min())
    row_data['ending'] = (df[df['date'] == date].value.max())
    
    return row_data

In [11]:
dater('2019-08-19')

{'starting': 17.573522079229534,
 'max': 18.468834970992383,
 'min': 17.573522079229534,
 'ending': 18.468834970992383}

In [ ]:
dates = df.groupby('date').mean().index

In [ ]:
data_dict = {starting': [], 'max': [], 'min': [], 'ending': []}
for i in dates:
    data = dater(i)
    
    data_dict['starting'].append(data['starting'])
    data_dict['max'].append(data['max'])    
    data_dict['min'].append(data['min'])    
    data_dict['ending'].append(data['ending'])

In [ ]:
pd.DataFrame(data=data_dict, index=dates)

In [ ]:
df2