In [80]:
dataset = "http://data.heatonresearch.com/data/t81-558/datasets/reg-33-data.csv"

In [81]:
import pandas as pd
df = pd.read_csv(dataset)

In [82]:
df

,id,convention,height,max,cat2,number,usage,region,length,code,power,item,weight,country,target
0,1,CO-1A,4284.51,44907,CA-E,16669,US-7,RE-4,12471.1127,CO-B,27351.36,IT-17,13722,CO-1,44098.106769
1,2,CO-C,806.88,48831,CA-A,8652,US-20,RE-15,10035.7085,CO-E,42323.89,IT-1E,33779,CO-0,95567.294044
2,3,CO-19,2859.80,40760,CA-16,23103,US-17,RE-1D,14442.6566,CO-5,30660.91,IT-14,26633,CO-23,48583.507153
3,4,CO-2B,5823.87,33597,CA-9,17680,US-10,RE-1D,15121.4937,CO-B,59456.24,IT-8,14537,CO-11,130572.202064
4,5,CO-5,NaN,29848,CA-9,24136,US-21,RE-4,18093.9147,CO-4,46998.44,IT-5,21135,CO-1E,85768.812850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,10805,CO-28,1901.75,49087,CA-4,10679,US-3,RE-1D,14191.6477,CO-6,58183.17,IT-1B,10067,CO-F,129359.321055
10805,10806,CO-1A,6365.25,37253,CA-1,19960,US-5,RE-5,10687.0503,CO-1,65491.84,IT-1D,7400,CO-C,160892.963119
10806,10807,CO-10,5918.89,30925,CA-13,27776,US-24,RE-17,12387.0003,CO-7,30040.54,IT-B,37882,CO-25,53016.731800
10807,10808,CO-2B,503.09,47998,CA-17,25741,US-6,RE-17,10395.2940,CO-D,46344.43,IT-E,51658,CO-4,106821.090661
10808,10809,CO-2F,6191.13,29149,CA-E,19425,US-1,RE-1C,17203.1377,CO-F,53174.22,IT-3,18355,CO-C,106308.258095

In [83]:
# Add a column named ratio that is max divided by number. Leave max and number in the dataframe.

df['ratio'] = df['max']/df['number']

In [84]:
#Replace the cat2 column with dummy variables. e.g. 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', ...

cat2_dummies = pd.get_dummies(df['cat2'], prefix="cat2")
df = pd.concat([df, cat2_dummies])
df.drop('cat2',inplace=True, axis=1)

In [85]:
#Replace the item column with dummy variables, e.g. 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', ...

cat2_dummies = pd.get_dummies(df['item'], prefix="item")
df = pd.concat([df, cat2_dummies])
df.drop('item',inplace=True, axis=1)

In [87]:
df['length'].median()

13522.49225

In [88]:
#For field length replace missing values with the median of length.

#check nan
print("Total No of NaN values in length:",df['length'].isna().sum())
print("Imputing missing values...")

# filling in missings
df['length'].fillna((df['length'].median()), inplace=True)
print("Total No of NaN values in length:",df['length'].isna().sum())

Total No of NaN values in length: 32590
Imputing missing values...
Total No of NaN values in length: 0

In [89]:
df

,id,convention,height,max,number,usage,region,length,code,power,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,1.0,CO-1A,4284.51,44907.0,16669.0,US-7,RE-4,12471.11270,CO-B,27351.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,CO-C,806.88,48831.0,8652.0,US-20,RE-15,10035.70850,CO-E,42323.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,CO-19,2859.80,40760.0,23103.0,US-17,RE-1D,14442.65660,CO-5,30660.91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,CO-2B,5823.87,33597.0,17680.0,US-10,RE-1D,15121.49370,CO-B,59456.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,CO-5,NaN,29848.0,24136.0,US-21,RE-4,18093.91470,CO-4,46998.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13522.49225,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13522.49225,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13522.49225,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13522.49225,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13522.49225,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
#For field height replace missing with median and convert to zscore.

#fill missing with median
df['height'].fillna((df['height'].median()), inplace=True)

#convert to zscore
df['height'] = (df['height']-df['height'].mean())/df['height'].std(ddof=0)

In [91]:
# cols to have in DataFrame
cols = ['height', 'max', 'number', 'length', 'ratio', 'cat2_CA-0', 'cat2_CA-1', 'cat2_CA-10', 'cat2_CA-11', 'cat2_CA-12', 'cat2_CA-13', 'cat2_CA-14', 'cat2_CA-15', 'cat2_CA-16', 'cat2_CA-17', 'cat2_CA-18', 'cat2_CA-19', 'cat2_CA-1A', 'cat2_CA-1B', 'cat2_CA-1C', 'cat2_CA-1D', 'cat2_CA-1E', 'cat2_CA-1F', 'cat2_CA-2', 'cat2_CA-20', 'cat2_CA-21', 'cat2_CA-22', 'cat2_CA-23', 'cat2_CA-24', 'cat2_CA-25', 'cat2_CA-26', 'cat2_CA-27', 'cat2_CA-3', 'cat2_CA-4', 'cat2_CA-5', 'cat2_CA-6', 'cat2_CA-7', 'cat2_CA-8', 'cat2_CA-9', 'cat2_CA-A', 'cat2_CA-B', 'cat2_CA-C', 'cat2_CA-D', 'cat2_CA-E', 'cat2_CA-F', 'item_IT-0', 'item_IT-1', 'item_IT-10', 'item_IT-11', 'item_IT-12', 'item_IT-13', 'item_IT-14', 'item_IT-15', 'item_IT-16', 'item_IT-17', 'item_IT-18', 'item_IT-19', 'item_IT-1A', 'item_IT-1B', 'item_IT-1C', 'item_IT-1D', 'item_IT-1E', 'item_IT-2', 'item_IT-3', 'item_IT-4', 'item_IT-5', 'item_IT-6', 'item_IT-7', 'item_IT-8', 'item_IT-9', 'item_IT-A', 'item_IT-B', 'item_IT-C', 'item_IT-D', 'item_IT-E', 'item_IT-F']

In [92]:
#Remove all other columns.

df = df[cols]

In [93]:
df

,height,max,number,length,ratio,cat2_CA-0,cat2_CA-1,cat2_CA-10,cat2_CA-11,cat2_CA-12,...,item_IT-6,item_IT-7,item_IT-8,item_IT-9,item_IT-A,item_IT-B,item_IT-C,item_IT-D,item_IT-E,item_IT-F
0,0.896023,44907.0,16669.0,12471.11270,2.694043,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-2.974703,48831.0,8652.0,10035.70850,5.643897,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.689730,40760.0,23103.0,14442.65660,1.764273,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.609385,33597.0,17680.0,15121.49370,1.900283,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.003468,29848.0,24136.0,18093.91470,1.236659,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10804,0.003468,NaN,NaN,13522.49225,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10805,0.003468,NaN,NaN,13522.49225,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10806,0.003468,NaN,NaN,13522.49225,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10807,0.003468,NaN,NaN,13522.49225,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10808,0.003468,NaN,NaN,13522.49225,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0